<footer>
    <div class="f-info navbar  boder-bottom bg-body-light sticky-bottom ">
        <!-- <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div> -->
        <div class="f-info-brands"> DigiClean Private Limited</div>
        <div class="f-info-links" >
            <a href="/privacy">Privacy</a>
            <a style="margin: 0rem 2rem" href="/about">About Us</a>
            <a href="">Terms</a>
        </div>
    </div>   
</footer>