<style>
    footer {
    background-color: #f8f9fa; 
    padding: .2rem 0;
    border-top: 1px solid #ddd; 
    }

    .f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    }

    .f-info-socials {
    display: flex;
    gap: 2rem; 
    margin-top: .3rem;
    }

    .f-info-socials i {
    font-size: 2rem; 
    color: #333; 
    transition: color 0.3s ease, transform 0.3s ease; 
    }

    .f-info-socials i:hover {
    color: #007bff; 
    transform: scale(1.1); 
    }

    .f-info-brands {
    font-size: 1.2rem; 
    color: #333; 
    margin-bottom: 0%;
    }

    .f-info-links {
    display: flex;
    gap: .5rem; 
    margin-top: 0%;
    }

    .f-info-links a {
    color: #007bff; 
    text-decoration: none; 
    font-size: 1.2rem;
    transition: color 0.3s ease;
    }

    .f-info-links a:hover {
    color: #0056b3; 
    }
</style>

<footer>
    <div class="f-info navbar  boder-bottom bg-body-light sticky-bottom ">
        <div class="f-info-socials">
            <a href="https://github.com/Vikash55Kumar?tab=repositories"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/software-enginner-vikash/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://vikashmernportfolio.up.railway.app/"><i class="fa-brands fa-steam"></i></a>
        </div>
        <div class="f-info-brands"> DigiClean &boxh; Private &boxh; Limited</div>
        <div class="f-info-links" >
            <a href="/privacy">Privacy</a>
            <a style="margin: 0rem 2rem" href="/price">Price</a>
            <a href="/terms">Terms</a>
        </div>
    </div>   
</footer>
