<style>
  .navbar-collapse {
    margin-top: .5rem;
    background-color: rgb(249, 242, 242); /* Set the background color to light */
  }

  .navbar-nav, .navbar-nav2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-link {
    padding: .6rem;
    text-align: left;
    width: 100%;
  }

.navbar-brand i {
    margin-right: 0.5rem;
  }

  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row;
      justify-content: flex-start;
    }
    .navbar-nav2 {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .navbar-nav2 .nav-link {
      text-align: center;
      width: auto;
    }
  }
</style>

<!-- fa-solid  -->
<nav class="navbar navbar-expand-md bg-body-light 
            boder-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-mountain-city"></i></a>
      <button 
        class="navbar-toggler bg-body-light" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">DigiClean</a>
        </div>
      <!-- shift to right side mg-auto -->
        <div class="navbar-nav2 ms-auto">
          <a class="nav-link" href="/about">About Us</a>
          <a class="nav-link" href="/contact">Contact Us</a>
          <a class="nav-link" href="/listings/new">Sell Post</a>
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup">SignUp</a>
          <a class="nav-link" href="/login">Login</a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/Logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>